<section id="banner">
  <div class="container">
    <h1>Organon Development and Consulting</h1>
    <p>
      <h3>I am a Starman</h3>
    </p>
  </div>
</section>

<div class="spacer"></div>

<section id="about-me">
  <div class="container">
    <h2>Full Stack Developer</h3>
    <div class="row">
      <div class="about-box col-lg-6">
        <p>
          My name is Dan Hudson, I am a full stack developer based in the Minneapolis area.  I have spent the past year improving and training my development skills.  I am seeking full or part time work using these skills I have honed.
        </p>
      </div>
    </div>
    <%= render @skills %>
  </div>
</section>

<div class="spacer"></div>

<section id="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="row">
      <%= render @projects %>
    </div>
  </div>
</section>

<div class="spacer"></div>

<!--Contact me Slide -->
<section id="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <div class="form">
      <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" placeholder="Name"/>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="email" class="form-control" placeholder="Email Address"/>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">How are you feeling today?</span>
        <input type="text" class="form-control" list="feelings"/>
        <datalist id="feelings">
          <option value="Happy">
          <option value="Curious">
          <option value="Anxious">
          <option value="Stressed">
          <option value="Hopeful">
          <option value="Big League">
          <option value="Nervous">
          <option value="Angry">
          <option value="Annoyed">
          <option value="Irritated">
          <option value="Joyful">
          <option value="Tired">
          <option value="Hungry">
          <option value="Bashful">          
          <option value="I am the Pope">
        </datalist>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">Message</span>
        <input type="text-area" class="form-control"/>
      </div>
    </div><!--end of the form -->
  </div>
</section>