<section class="container banner">
  <h1>Organon Consulting LLC</h1>
  <div id="dog-text">
    <h3>I am a Starman</h3>
  </div>
</section>  

<section class="container about-me">
<!-- this slide should intro me as a Dev -->
  <h3>Full Stack Developer</h3>
  <div class="paragraph col-lg-6">
    <p>
      My name is Dan Hudson, I am a full stack developer based in the Minneapolis area.  I have spent the past year improving and training my development skills.  I am seeking full or part time work using these skills I have honed.
    </p>
  </div>
  <div class ="about-box col-lg-6">
    <ul>
      <li>
        <h3>Skills</h3>
        <ul>
          <li><p>Ruby on Rails</p></li>
          <li><p>JavaScript</p></li>
          <li><p>HTML5</p></li>
          <li><p>CSS3</p></li>
          <li><p>Sass</p></li>
          <li><p>jQuery</p></li>
          <li><p>WordPress</p></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="about-box">
    <h3>Personality</h3>
    <ul>
      <li><p>I am </p></li>
    </ul>
  </div>
</section>

<div class="spacer"></div>

<section class="container projects">
  <h2>Projects</h2>
  <div class="panel">
    
  </div>
<!-- this slide should showcase projects -->
</section>
<!--Contact me Slide -->


<section class="container contact">
  <h2>Contact</h2>
  <div class="form">
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input type="text" class="form-control" placeholder="Name">
    </div>
    
    <div class="input-group">
      <span class="input-group-addon">Email</span>
      <input type="email" class="form-control" placeholder="Email Address">
    </div>
    
    <div class="input-group">
      <span class="input-group-addon">Message</span>
      <input type="text-area" class="form-control">
    </div>
  </div>
</section>