<!--first slide -->

<div id="slide-img1" class="slide-img" data-stellar-background-ratio="0.5">
  <div class="container">
    <h1>Organon Consulting LLC</h1>
    <div id="dog-text">
      <h3>I am a Starman</h3>
    </div>
  </div>  
</div>

<div class="spacer" data-stellar-ratio="2"></div>

<!-- this slide should showcase projects -->
<div id="slide-img2" class="slide-img">
  <div class="container">
    <h3>Ruby on Rails - full stack developer</h3>
    <div class="paragraph">
      <p>
        Browse my recent projects to see examples of work
      </p>
      <%= render @projects%>
    </div>
  </div>
</div>

<div class="spacer"></div>

<!-- this slide should intro me as a Dev -->

<div class=""

<!--Contact me Slide -->

<div id="slide-img3" class="slide-img">
  <div class="container">
    <h2>Contact</h2>
      <div class="form">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">@example.com</span>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
      </div>
      
      <label for="basic-url">Your vanity URL</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>
    </div>
  </div>
</div>