<div id="mantras">
  <div class="container">
    <div class="floaty-box">
      <div class="panel default-panel">
        <p>
          we go to the moon, not because it is easy, but because it is hard. (paraphrased from JFK)
        </p>
      </div>
    </div>
    <div class="floaty-box">
      <div class="panel default-panel">
        <p>
          
        </p>
      </div>
    </div>
  </div>
</div>