<div id="mantras">
  <div class="container">
    <div class="floaty-box">
      <p>
        "We go to the moon, ... not because it is easy, but because it is hard." - JFK
      </p>
    </div>
    <div class="floaty-box">
      <p>
        "Self-respect is the fruit of discipline; the sense of dignity grows with the ability to say no to oneself." - Abraham J. Heschel
      </p>
    </div>
    <div class="floaty-box">
      <p>
        “Alexander the Great and his mule driver both died and the same thing happened to both.” -Marcus Aurelius
      </p>
    </div>
  </div>
</div>