<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 tile">
	<div class="panel-body project-tile">
	  <h3><%= project.name %></h3>
	  <%= link_to image_tag(project.image_url, :class => 'thumbnail img img-rounded'), project.url, target: :_blank %>
	  <p><%= project.description %></p>
	</div>
</div>