<!doctype html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h3>New Contact from Your Portfolio Page</h3>
        <ul>
            <li>Name: <%= @name %></li>
            <li>Email: <%= @email %></li>
            <li>Feeling: <%= @feelings %></li>
        </ul>
        <p><%= @message %></p>
        <h3>--message end--</h3>
    </body>
</html>